body{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
}
nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #264653;
    color: white;
    font-family: system-ui;
    font-size: 24px;
    width: 100%;
    
}
section{
    display: flex;
    flex-direction: column;
    padding: 20%;
    padding-top: 0%;
    justify-content: flex-start;
    font-family: system-ui;
    color: #264653;
    font-size: 20px;
    line-height: 30px;
    margin-top: 120px;
}
section form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
    border-radius: 10px;
    border:1px solid black;
}
section form div{
    padding: 30px;
}
#name{
    font-family: system-ui;
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid gray;
}
hr{
    margin-bottom: 30px;
}
#submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
#submit-bt{
    width: 100px;
    height: 40px;
    background: white;
    color: black;
    font-family: system-ui;
    border-color: black;
    border-radius: 5px;
    font-size:large;
    font-weight: bold;
}
#submit-bt:hover{
    width: 100px;
    height: 40px;
    background: #06d6a0;
    color: white;
    font-family: system-ui;
    border-color: #06d6a0;
    border-radius: 5px;
    font-size:large;
    font-weight: bold;
}
